* {
    margin  : 0px   ; 
    padding : 0px   ;
    outline : none  ; 
    border  : none  ;
}
::selection{
    background-color: var(--thr-color);
    color : black;
}

html {
    background-color    : var(--main-color) ;
    color       : var(--txt-color) ;
    font-family   : 'Quicksand'      ;
}
body {
    display         : flex   ;
    flex-direction  : column ;
}
