.Accent-Line {
    margin-top      :  2px  ;
    margin-bottom   :  2px  ;
    margin-left     :  -2px ;
    margin-right    :  -2px ;

    background-color : var(--sec-color) ;

    height          : 3px         ;
    border-radius   : 30% / 30%   ;
    opacity         : 0           ;
    width           : auto        ;

    animation: show var(--anim-show) ease-in forwards, Colorize calc(var(--standard-anim) - 180ms) var(--anim-show) ease-in forwards;
}
@keyframes show {
    to {
        opacity: 1;
    }
}
@keyframes Colorize {
    to{
        background-color: var(--thr-color);
    }
}