Top-Title  {
    color         : var(--txt-color)  ;
    font-family   : 'Righteous' ;
    font-size     : 4.5rem        ;
    text-align    : center      ;
    margin        : auto        ;
    opacity       : 0           ;
	z-index		  : 100 		;
    transform: rotateZ(+220deg) translateY(-200px) translateX(-200px);
    animation: Animation var(--anim-show) 100ms ease-in forwards;
}

Bot-Title {
    color         : var(--txt-color)  ;
    font-family   : 'Quicksand' ;
    font-size     : 2rem      ;
    opacity       : 0           ;
    text-align	  : center		;
    padding-right : 260px		;
	z-index		  : 100 		;
    transform: rotateZ(+220deg) translateY(-200px) translateX(-200px);
    animation: Animation calc(var(--anim-show) + 100ms) 260ms ease-in forwards;
}

@keyframes Animation {
to {
    opacity: 1;
    transform: rotateZ(0deg);
    transform: translateY(0);
    transform: translateX(0);
    }
}
